
// set profiles
profiles {

    standard {
        includeConfig 'conf/base.config'
    }
    conda { process.conda = "$baseDir/environment.yml" }
    

    c2 {
        includeConfig 'conf/base.config'
        includeConfig 'conf/C2.config'
    }
    c1 {
        includeConfig 'conf/base.config'
        includeConfig 'conf/C1.config'
    }
    s1 {
        includeConfig 'conf/base.config'
        includeConfig 'conf/S1.config'
    }
    s2 {
        includeConfig 'conf/base.config'
        includeConfig 'conf/S2.config'
    }
    test {
        includeConfig 'conf/base.config'
        includeConfig 'conf/test.config'
    }
    debug { process.beforeScript = 'echo $HOSTNAME' }
    none {
        // Don't load any config (for use with custom home configs)
    }
    docker {
        docker.enabled = true
        dapath = '/opt/DAtools_v2.7.4.jar'
    }

}




// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


timeline {
    enabled = true
    file = "miRNAprediction_timeline.html"
}
report {
    enabled = true
    file = "miRNAprediction_report.html"
}
trace {
    enabled = true
    file = "miRNAprediction_trace.txt"
}

manifest {
    name = 'miRNAprediction'
    author = 'RNAseq pipe in sysucc.'
    mainScript = 'main.nf'
    nextflowVersion = '>=0.32.0'
    version = '1.0dev'
}

params.mails=""
