params{
    targetScanMiRNALib="/home/yeying/bin/soft/targetscan_70/miR_Family_Info.txt"
    // which extracted from /home/yeying/bin/soft/targetscan_70/miR_Family_Info.txt
    microRNA_fasta_db="/home/yeying/bin/soft/targetscan_70/miRNAdb.fa" 
    RNA22=true
}



withName:predictByMiranda {
executor="pbs"
}
withName:predictByTargetScan {
executor="pbs"
}
  
